* {
  box-sizing: border-box;
}

.App {
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem;
  gap: 2rem;
}

.heading {
  color: #272343;
  font-size: 3rem;
}

.countdown {
  color: #ffd803;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 3rem;
  outline: none;
  text-align: center;
  font-size: 2rem;
}

input:focus {
  border: 3px solid #4fc4cf;
}

/*textarea {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  padding: 10px;
  border-radius: 4px;
}*/

input:disabled {
  background-color: #d6d6d6;
}

.start-btn {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #272343;
  color: #fff;
  font-size: 1rem;
  transition: all .3s ease;
}

.start-btn:hover {
  background-color: #1e1b33;
}

.start-btn:disabled {
  background-color: #d6d6d6;
  cursor: default;
  transition: all .3s ease;
}

.start-btn:disabled:hover {
  background-color: #d6d6d6;
}

.card {
  padding: 1.5rem;
  box-shadow: 8px 10px 14px 6px rgba(0,0,0,0.17);
  border-radius: 4px;
  line-height: 1.6rem;
}

.results {
  display: flex;
  gap: 6rem;
}

.accuracy,
.speed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accuracy h3,
.speed h3 {
  font-weight: 300;
}

.accuracy p,
.speed p {
  font-size: 2rem;
  margin-top: 0;
}

.accuracy p {
  color: #4fc4cf;
}

.speed p {
  color: #994ff3;
}

.correct {
  background-color: #4fc4cf;
}

.incorrect {
  background-color: #994ff3;
}

@media screen and (max-width: 660px) {
  .App {
    padding: 1rem 1.5rem;
  }
  .card {
    padding: 1rem;
  }
}