* {
  box-sizing: border-box;
}

.App {
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
  gap: 4rem;
}

.heading {
  color: #272343;
}

.countdown {
  color: #ffd803;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2rem;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #A7E2E2;
}

.start-btn {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #bae8e8;
  color: #272343;
  font-size: 1rem;
  transition: all .3s ease;
}

.start-btn:hover {
  background-color: #A7E2E2;
}

.card {
  padding: 1.5rem;
  box-shadow: 8px 10px 14px 6px rgba(0,0,0,0.17);
  border-radius: 4px;
  line-height: 1.6rem;
}

@media screen and (max-width: 660px) {
  .App {
    padding: 1rem 1.5rem;
  }
  .card {
    padding: 1rem;
  }
}